[submodule "base"]
	path = base
	url = https://github.com/mechanize-systems/base.git
[submodule "CBQN"]
	path = repl/CBQN
	url = https://github.com/dzaima/CBQN.git
[submodule "emsdk"]
	path = repl/emsdk
	url = https://github.com/emscripten-core/emsdk.git
