{
  "printWidth": 79,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@(mechanize|bqnpad)/", "^[\\./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
