@import "normalize.css/normalize.css";
@import "./font/index.css";

:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate1: hsl(200, 7%, 8.8%);
    --slate2: hsl(195, 7.1%, 11%);
    --slate3: hsl(197, 6.8%, 13.6%);
    --slate4: hsl(198, 6.6%, 15.8%);
    --slate5: hsl(199, 6.4%, 17.9%);
    --slate6: hsl(201, 6.2%, 20.5%);
    --slate7: hsl(203, 6%, 24.3%);
    --slate8: hsl(207, 5.6%, 31.6%);
    --slate9: hsl(206, 6%, 43.9%);
    --slate10: hsl(206, 5.2%, 49.5%);
    --slate11: hsl(206, 6%, 63%);
    --slate12: hsl(210, 6%, 93%);
  }
}

[data-theme="light"] {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

[data-theme="dark"] {
  --slate1: hsl(200, 7%, 8.8%);
  --slate2: hsl(195, 7.1%, 11%);
  --slate3: hsl(197, 6.8%, 13.6%);
  --slate4: hsl(198, 6.6%, 15.8%);
  --slate5: hsl(199, 6.4%, 17.9%);
  --slate6: hsl(201, 6.2%, 20.5%);
  --slate7: hsl(203, 6%, 24.3%);
  --slate8: hsl(207, 5.6%, 31.6%);
  --slate9: hsl(206, 6%, 43.9%);
  --slate10: hsl(206, 5.2%, 49.5%);
  --slate11: hsl(206, 6%, 63%);
  --slate12: hsl(210, 6%, 93%);
}

:root {
  --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --app-font-size: 16px;
  --app-font-size-xs: 14px;
  --app-title-font-size: 18px;
  --app-bg: var(--slate1);
  --app-ui-bg: var(--slate3);
  --app-ui-hover-bg: var(--slate4);
  --app-ui-active-bg: var(--slate5);
  --app-border: var(--slate6);
  --app-color: var(--slate12);
  --app-color-dimmed: var(--slate11);

  --editor-font-family: BQN, Menlo, Monaco, monospace;
  --editor-font-size: 20px;
  --editor-font-size-xs: 16px;
  --editor-bg: var(--slate1);
  --editor-color: var(--app-color);
  --editor-color-output: var(--slate11);
  --editor-color-output-error: red;
  --editor-color-output-dimmed: var(--slate11);
}

html,
body,
#asap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--app-bg);
  font-family: var(--app-font-family);
  color: var(--app-color);
  font-size: var(--app-font-size);
}
* {
  box-sizing: border-box;
}

/**
 * UI elements
 */

.Checkbox {
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  font-weight: 400;
  border-radius: 3px;
}
.Checkbox:hover {
  background-color: var(--app-ui-hover-bg);
}
.Checkbox:active {
  background-color: var(--app-ui-active-bg);
}
.Checkbox > input {
  position: relative;
  bottom: -1px;
  margin-right: 5px;
}

.Button {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--app-color);
  font-weight: 400;
  border-radius: 3px;
}
.Button:hover {
  background-color: var(--app-ui-hover-bg);
}
.Button:active {
  background-color: var(--app-ui-active-bg);
}
a.Button {
  text-decoration: none;
}

.Select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  font-weight: 400;
  border-radius: 3px;
  color: var(--app-color);
}
.Select:hover {
  background-color: var(--app-ui-hover-bg);
}
.Select:active {
  background-color: var(--app-ui-active-bg);
}

/**
 * CodeMirror
 */

.Editor {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--editor-color);
  background: var(--editor-bg);
}

.Editor .cm-content {
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 300px !important;
  width: 100%;
  caret-color: var(--editor-color);
}
.Editor .cm-editor {
  width: 100%;
  outline: none !important;
}
.Editor .cm-line {
  padding: 0;
  padding-left: 47px;
}

.Editor .cm-tooltip-autocomplete {
  border: 1px solid var(--app-border);
  font-size: var(--editor-font-size-xs);
  border-bottom-width: 2px;
  background-color: var(--app-bg) !important;
}

.Editor .cm-tooltip-autocomplete ul li {
  color: var(--editor-color) !important;
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size-xs);
  display: flex;
  justify-content: space-between;
}

.Editor .cm-tooltip-autocomplete ul li[aria-selected] {
  color: var(--editor-color) !important;
  background-color: var(--app-ui-hover-bg) !important;
}

.Editor .cm-completionIcon {
  display: none !important;
}

.Editor .cm-completionMatchedText {
  text-decoration: none !important;
  background-color: transparent;
}

.Editor .cm-completionDetail {
  font-style: normal !important;
  font-size: var(--editor-font-size);
  padding-right: 10px;
}

/**
 * TYPOGRAPHY
 */

.title {
  font-weight: 600;
}

.label {
  color: var(--app-color-dimmed);
  font-weight: 400;
  padding-right: 0px;
}

/**
 * Components
 */

.AppLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Output {
  display: flex;
  flex-direction: row;
  color: var(--editor-color-output);
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  line-height: 1.4;
  position: relative;
}

.Output__gutter {
  padding: 0px;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  padding: 0px;
  color: var(--app-color-dimmed);
  font-weight: normal;
  padding: 5px;
  width: 20px;
}
.Output__gutter--disabled {
  display: none;
}

.Output__output {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: pre;
  flex-grow: 1;
}
.Output__output--error {
  color: var(--editor-color-output-error);
}
.Output__output--preview {
  color: var(--editor-color-output-dimmed);
}
.Output__output--notice {
  color: var(--editor-color-output-dimmed);
}

.SessionBanner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}
.SessionBanner__inner {
  font-family: var(--app-font-family);
  font-size: var(--app-font-size-xs);
  color: var(--app-color-dimmed);
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--app-border);
  justify-content: space-between;
}
.SessionBanner__title {
}
.SessionBanner__link {
  color: var(--app-color-dimmed);
}

.Toolbar {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Toolbar__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.Toolbar__section:last-child {
  padding-right: 0px;
}

.Toolbar__element {
  padding: 5px;
}

.Workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.WorkspaceHeader {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: var(--app-border);
}

.VMStatus {
  padding: 4px;
  font-size: 10px;
  font-weight: 500;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
}
.VMStatus--running {
  border-color: #998819;
  color: #998819;
}
.VMStatus--idle {
  border-color: #3aa548;
  color: #3aa548;
}

.GlyphsPalette {
  display: flex;
  flex-direction: row;
  font-size: var(--editor-font-size);
  width: 100%;
  flex-wrap: wrap;
  font-family: var(--editor-font-family);
}

.GlyphsPalette__item {
  background-color: transparent;
  border: none;
  padding: 5px;
}
.GlyphsPalette__item:hover {
  background-color: var(--app-ui-hover-bg);
}
.GlyphsPalette__item:active {
  background-color: var(--app-ui-active-bg);
}
