@import "normalize.css/normalize.css";
@import "./iosevka/index.css";

:root {
  --editor-font-family: "Iosevka Term Web", Menlo, Monaco, monospace;
  --ui-font-family: "Iosevka Term Web", Menlo, Monaco, monospace;

  --ui-background: #e3e7e7;
  --ui-background-hover: #ddd;
  --ui-background-active: #ccc;
  --ui-border: #bbb;
  --ui-color: #333;
  --ui-color-dimmed: #666;

  --editor-color: var(--ui-color);
  --editor-color-output: #444;
  --editor-color-output-error: red;
  --editor-color-output-dimmed: #888;
}

html,
body,
#asap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--ui-background);
  font-family: var(--ui-font-family);
  color: var(--ui-color);
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

/**
 * UI elements
 */

.Checkbox {
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}
.Checkbox:hover {
  background-color: var(--ui-background-hover);
}
.Checkbox:active {
  background-color: var(--ui-background-active);
}
.Checkbox > input {
  position: relative;
  bottom: -1px;
  margin-right: 5px;
}

.Button {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--ui-color);
}
.Button:hover {
  background-color: var(--ui-background-hover);
}
.Button:active {
  background-color: var(--ui-background-active);
}

/**
 * CodeMirror
 */

.Editor {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--editor-color);
}

.Editor .cm-content {
  font-family: var(--editor-font-family);
  font-size: 20px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 300px !important;
  width: 100%;
}
.Editor .cm-editor {
  width: 100%;
  outline: none !important;
}
.Editor .cm-line {
  padding: 0;
}
.Editor .cm-focused .cm-cursor {
  color: var(--editor-color);
  background-color: var(--editor-color);
  border-left-color: red !important;
}

.Editor .cm-tooltip-autocomplete {
  border: none !important;
  background-color: var(--ui-background) !important;
}

.Editor .cm-tooltip-autocomplete ul li {
  color: var(--editor-color) !important;
  font-family: var(--editor-font-family);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.Editor .cm-tooltip-autocomplete ul li[aria-selected] {
  color: var(--editor-color) !important;
  background-color: var(--ui-background-hover) !important;
}

.Editor .cm-completionIcon {
  display: none !important;
}

.Editor .cm-completionMatchedText {
  text-decoration: none !important;
  background-color: transparent;
}

.Editor .cm-completionDetail {
  font-style: normal !important;
  font-size: 20px;
  padding-right: 10px;
}

/**
 * Components
 */

.AppLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Output {
  display: flex;
  flex-direction: row;
  color: var(--editor-color-output);
  font-family: var(--editor-font-family);
  font-size: 20px;
  line-height: 1.4;
  position: relative;
}

.Output__gutter {
  padding: 0px;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  padding: 0px;
  color: var(--ui-color-dimmed);
  font-weight: normal;
}
.Output__gutter--disabled {
  visibility: hidden;
}

.Output__output {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: pre;
  flex-grow: 1;
}
.Output__output--error {
  color: var(--editor-color-output-error);
}
.Output__output--preview {
  color: var(--editor-color-output-dimmed);
}
.Output__output--notice {
  color: var(--editor-color-output-dimmed);
}

.SessionBanner {
  color: var(--ui-color-dimmed);
}

.Toolbar {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Toolbar__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}
.Toolbar__section:last-child {
  padding-right: 0px;
}

.Toolbar__element {
  padding: 5px;
}

.Workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.WorkspaceHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--ui-border);
}

.GlyphsPalette {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
  flex-wrap: wrap;
  font-family: var(--editor-font-family);
}

.GlyphsPalette__item {
  background-color: transparent;
  border: none;
  padding: 5px;
}
.GlyphsPalette__item:hover {
  background-color: var(--ui-background-hover);
}
.GlyphsPalette__item:active {
  background-color: var(--ui-background-active);
}

/**
 * TYPOGRAPHY
 */

.title {
  font-size: 20px;
  font-weight: 600;
}

.label {
  color: var(--ui-color-dimmed);
  padding-right: 5px;
}
