@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src:  url('woff2/iosevka-term-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src:  url('woff2/iosevka-term-heavyitalic.woff2') format('woff2');
}
