@import "normalize.css/normalize.css";
@import "../font/index.css";

@import "@mechanize/ui/Theme.slate.css";
@import "./Notebook.css";
@import "./GlyphPalette.css";
@import "./Editor.css";
@import "@mechanize/ui/Checkbox.css";
@import "@mechanize/ui/Select.css";
@import "@mechanize/ui/Button.css";

/**
 * TYPOGRAPHY
 */

.title {
  font-weight: 600;
}

.label {
  color: var(--app-color-dimmed);
  font-weight: 500;
  padding-left: 5px;
}

.icon-tabler {
  width: 20px;
  height: 20px;
}

/**
 * Components
 */

.AppLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Output {
}

.FoldedOutput {
  display: flex;
  flex-direction: row;
  color: var(--app-color-dimmed);
  font-family: var(--app-font-family-monospace);
  font-size: var(--app-font-size-xl);
  line-height: 1.4;
  position: relative;
}

.FoldedOutput__button {
  padding: 0px;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  padding: 0px;
  color: var(--app-color-dimmed);
  font-weight: normal;
  padding: 5px;
  width: 25;
}
.FoldedOutput__button--disabled {
  display: none;
}

.FoldedOutput__output {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: pre;
  flex-grow: 1;
}

.FoldedOutput--error {
  color: var(--app-color-error);
}
.FoldedOutput--preview {
  color: var(--app-color-dimmed);
}
.FoldedOutput--notice {
  color: var(--app-color-dimmed);
}

.SessionBanner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}
.SessionBanner__inner {
  font-family: var(--app-font-family);
  font-size: var(--app-font-size-xs);
  color: var(--app-color-dimmed);
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--app-border);
  justify-content: space-between;
}
.SessionBanner__title {
}
.SessionBanner__link {
  color: var(--app-color-dimmed);
}

.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3px;
}

.Toolbar__section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3px;
}

.Workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: var(--app-color-dimmed);
  background: var(--app-bg-ui);
}
.AppHeader__topRight {
  display: flex;
}

.AppHeader--collapsed {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid var(--app-border);
}
.AppHeader--collapsed .AppHeader__hideable {
  display: none;
}
