:root {
  --nb-cell-border-width: 2px;
}

.Notebook {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.CellLine {
  position: relative;
  border-left: var(--nb-cell-border-width) solid var(--cell-status-color);
}
.CellLine--active {
  background-color: var(--app-bg-subtle);
}
.CellLine--active + .CellOutput {
  background-color: var(--app-bg-subtle);
}

.CellOutput {
  width: 100%;
  position: relative;
  padding-left: 1ch;
  border-style: solid;
  border-color: var(--cell-status-color);
  border-width: 0;
  border-left-width: var(--nb-cell-border-width);
}
.CellOutput:before {
  position: absolute;
  bottom: 0;
  left: calc(0px - var(--nb-cell-border-width));
  width: 5px;
  height: 10px;
  content: "";
  border-style: solid;
  border-color: var(--cell-status-marker-color);
  border-width: 0;
  border-left-width: var(--nb-cell-border-width);
  border-bottom-width: var(--nb-cell-border-width);
}
.CellOutput__output {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CellOutput--ok {
  color: var(--app-color-dimmed);
}
.CellOutput--error {
  color: var(--app-color-error);
}
