.Button {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--app-color);
  font-weight: 400;
  border-radius: 3px;
}
.Button:hover {
  background-color: var(--app-bg-ui-hover);
}
.Button:active {
  background-color: var(--app-bg-ui-active);
}
a.Button {
  text-decoration: none;
}
