.Button {
  position: relative;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--app-color);
  font-weight: 400;
  border-radius: 3px;
}
.Button:hover {
  background-color: var(--app-bg-ui-hover);
}
.Button:active {
  background-color: var(--app-bg-ui-active);
}
.Button--active {
  color: var(--app-color-active);
}
.Button--active:hover {
}
a.Button {
  text-decoration: none;
}
Button .icon-tabler {
  vertical-align: middle;
  top: -1px;
  position: relative;
}

.ButtonGroup {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.ButtonGroup .Button {
  border-radius: 0;
  border-bottom: 2px solid var(--app-border-ui);
}
.ButtonGroup .Button--active {
  border-bottom: 2px solid var(--app-color-active);
}
