.Checkbox {
  padding: 5px;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-weight: 500;
  border-radius: 0px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
.Checkbox:hover {
  background-color: var(--app-bg-ui-hover);
}
.Checkbox:active {
  background-color: var(--app-bg-ui-active);
}
.Checkbox--disabled,
.Checkbox--disabled:active,
.Checkbox--disabled:hover {
  background-color: transparent;
  color: var(--app-color-dimmed);
}
.Checkbox > input {
  position: relative;
  bottom: -1px;
  margin-right: 5px;
}
