.Select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  font-weight: 500;
  border-radius: 0px;
  color: var(--app-color);
  height: 32px;
}
.Select:hover {
  background-color: var(--app-bg-ui-hover);
}
.Select:active {
  background-color: var(--app-bg-ui-active);
}
