:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: hsl(210, 98.8%, 94%);
  --blue5: hsl(209, 95%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: hsl(208, 77.5%, 76.9%);
  --blue8: hsl(206, 81.9%, 65.3%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(208, 100%, 47.3%);
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15%);
  --amber1: hsl(39, 70%, 99%);
  --amber2: hsl(40, 100%, 96.5%);
  --amber3: hsl(44, 100%, 91.7%);
  --amber4: hsl(43, 100%, 86.8%);
  --amber5: hsl(42, 100%, 81.8%);
  --amber6: hsl(38, 99.7%, 76.3%);
  --amber7: hsl(36, 86.1%, 67.1%);
  --amber8: hsl(35, 85.2%, 55.1%);
  --amber9: hsl(39, 100%, 57%);
  --amber10: hsl(35, 100%, 55.5%);
  --amber11: hsl(30, 100%, 34%);
  --amber12: hsl(20, 80%, 17%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate1: hsl(200, 7%, 8.8%);
    --slate2: hsl(195, 7.1%, 11%);
    --slate3: hsl(197, 6.8%, 13.6%);
    --slate4: hsl(198, 6.6%, 15.8%);
    --slate5: hsl(199, 6.4%, 17.9%);
    --slate6: hsl(201, 6.2%, 20.5%);
    --slate7: hsl(203, 6%, 24.3%);
    --slate8: hsl(207, 5.6%, 31.6%);
    --slate9: hsl(206, 6%, 43.9%);
    --slate10: hsl(206, 5.2%, 49.5%);
    --slate11: hsl(206, 6%, 63%);
    --slate12: hsl(210, 6%, 93%);
    --blue1: hsl(212, 35%, 9.2%);
    --blue2: hsl(216, 50%, 11.8%);
    --blue3: hsl(214, 59.4%, 15.3%);
    --blue4: hsl(214, 65.8%, 17.9%);
    --blue5: hsl(213, 71.2%, 20.2%);
    --blue6: hsl(212, 77.4%, 23.1%);
    --blue7: hsl(211, 85.1%, 27.4%);
    --blue8: hsl(211, 89.7%, 34.1%);
    --blue9: hsl(206, 100%, 50%);
    --blue10: hsl(209, 100%, 60.6%);
    --blue11: hsl(210, 100%, 66.1%);
    --blue12: hsl(206, 98%, 95.8%);
    --amber1: hsl(36, 100%, 6.1%);
    --amber2: hsl(35, 100%, 7.6%);
    --amber3: hsl(32, 100%, 10.2%);
    --amber4: hsl(32, 100%, 12.4%);
    --amber5: hsl(33, 100%, 14.6%);
    --amber6: hsl(35, 100%, 17.1%);
    --amber7: hsl(35, 91%, 21.6%);
    --amber8: hsl(36, 100%, 25.5%);
    --amber9: hsl(39, 100%, 57%);
    --amber10: hsl(43, 100%, 64%);
    --amber11: hsl(39, 90%, 49.8%);
    --amber12: hsl(39, 97%, 93.2%);
  }
}

[data-theme="light"] {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: hsl(210, 98.8%, 94%);
  --blue5: hsl(209, 95%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: hsl(208, 77.5%, 76.9%);
  --blue8: hsl(206, 81.9%, 65.3%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(208, 100%, 47.3%);
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15%);
  --amber1: hsl(39, 70%, 99%);
  --amber2: hsl(40, 100%, 96.5%);
  --amber3: hsl(44, 100%, 91.7%);
  --amber4: hsl(43, 100%, 86.8%);
  --amber5: hsl(42, 100%, 81.8%);
  --amber6: hsl(38, 99.7%, 76.3%);
  --amber7: hsl(36, 86.1%, 67.1%);
  --amber8: hsl(35, 85.2%, 55.1%);
  --amber9: hsl(39, 100%, 57%);
  --amber10: hsl(35, 100%, 55.5%);
  --amber11: hsl(30, 100%, 34%);
  --amber12: hsl(20, 80%, 17%);
}

[data-theme="dark"] {
  --slate1: hsl(200, 7%, 8.8%);
  --slate2: hsl(195, 7.1%, 11%);
  --slate3: hsl(197, 6.8%, 13.6%);
  --slate4: hsl(198, 6.6%, 15.8%);
  --slate5: hsl(199, 6.4%, 17.9%);
  --slate6: hsl(201, 6.2%, 20.5%);
  --slate7: hsl(203, 6%, 24.3%);
  --slate8: hsl(207, 5.6%, 31.6%);
  --slate9: hsl(206, 6%, 43.9%);
  --slate10: hsl(206, 5.2%, 49.5%);
  --slate11: hsl(206, 6%, 63%);
  --slate12: hsl(210, 6%, 93%);
  --blue1: hsl(212, 35%, 9.2%);
  --blue2: hsl(216, 50%, 11.8%);
  --blue3: hsl(214, 59.4%, 15.3%);
  --blue4: hsl(214, 65.8%, 17.9%);
  --blue5: hsl(213, 71.2%, 20.2%);
  --blue6: hsl(212, 77.4%, 23.1%);
  --blue7: hsl(211, 85.1%, 27.4%);
  --blue8: hsl(211, 89.7%, 34.1%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(209, 100%, 60.6%);
  --blue11: hsl(210, 100%, 66.1%);
  --blue12: hsl(206, 98%, 95.8%);
  --amber1: hsl(36, 100%, 6.1%);
  --amber2: hsl(35, 100%, 7.6%);
  --amber3: hsl(32, 100%, 10.2%);
  --amber4: hsl(32, 100%, 12.4%);
  --amber5: hsl(33, 100%, 14.6%);
  --amber6: hsl(35, 100%, 17.1%);
  --amber7: hsl(35, 91%, 21.6%);
  --amber8: hsl(36, 100%, 25.5%);
  --amber9: hsl(39, 100%, 57%);
  --amber10: hsl(43, 100%, 64%);
  --amber11: hsl(39, 90%, 49.8%);
  --amber12: hsl(39, 97%, 93.2%);
}

:root {
  --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --app-font-family-monospace: BQN, Menlo, Monaco, monospace;
  --app-font-size-xs: 14px;
  --app-font-size: 16px;
  --app-font-size-xl: 20px;
  --app-bg: var(--slate1);
  --app-bg-subtle: var(--slate2);
  --app-bg-ui: var(--slate3);
  --app-bg-ui-hover: var(--slate4);
  --app-bg-ui-active: var(--slate5);
  --app-bg-solid: var(--slate9);
  --app-bg-solid-hover: var(--slate10);
  --app-border: var(--slate6);
  --app-border-ui: var(--slate7);
  --app-border-ui-active: var(--slate8);
  --app-color-dimmed: var(--slate11);
  --app-color: var(--slate12);
  --app-color-active: var(--blue11);
  --app-color-error: #dc3c43;
  --app-border-warn-ui: var(--amber7);
}

html,
body,
#asap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--app-bg);
  font-family: var(--app-font-family);
  color: var(--app-color);
  font-size: var(--app-font-size);
}
* {
  box-sizing: border-box;
}
