:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate1: hsl(200, 7%, 8.8%);
    --slate2: hsl(195, 7.1%, 11%);
    --slate3: hsl(197, 6.8%, 13.6%);
    --slate4: hsl(198, 6.6%, 15.8%);
    --slate5: hsl(199, 6.4%, 17.9%);
    --slate6: hsl(201, 6.2%, 20.5%);
    --slate7: hsl(203, 6%, 24.3%);
    --slate8: hsl(207, 5.6%, 31.6%);
    --slate9: hsl(206, 6%, 43.9%);
    --slate10: hsl(206, 5.2%, 49.5%);
    --slate11: hsl(206, 6%, 63%);
    --slate12: hsl(210, 6%, 93%);
  }
}

[data-theme="light"] {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

[data-theme="dark"] {
  --slate1: hsl(200, 7%, 8.8%);
  --slate2: hsl(195, 7.1%, 11%);
  --slate3: hsl(197, 6.8%, 13.6%);
  --slate4: hsl(198, 6.6%, 15.8%);
  --slate5: hsl(199, 6.4%, 17.9%);
  --slate6: hsl(201, 6.2%, 20.5%);
  --slate7: hsl(203, 6%, 24.3%);
  --slate8: hsl(207, 5.6%, 31.6%);
  --slate9: hsl(206, 6%, 43.9%);
  --slate10: hsl(206, 5.2%, 49.5%);
  --slate11: hsl(206, 6%, 63%);
  --slate12: hsl(210, 6%, 93%);
}

:root {
  --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --app-font-family-monospace: BQN, Menlo, Monaco, monospace;
  --app-font-size-xs: 14px;
  --app-font-size: 16px;
  --app-font-size-xl: 20px;
  --app-bg: var(--slate1);
  --app-bg-subtle: var(--slate2);
  --app-bg-ui: var(--slate3);
  --app-bg-ui-hover: var(--slate4);
  --app-bg-ui-active: var(--slate5);
  --app-border: var(--slate6);
  --app-border-ui: var(--slate7);
  --app-border-ui-active: var(--slate8);
  --app-color-dimmed: var(--slate11);
  --app-color: var(--slate12);
  --app-color-error: #dc3c43;
  --app-color-progress: #f7ce00;
}

html,
body,
#asap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--app-bg);
  font-family: var(--app-font-family);
  color: var(--app-color);
  font-size: var(--app-font-size);
}
* {
  box-sizing: border-box;
}
